<a href="https://colab.research.google.com/github/ramanetanaya/Incredible_India/blob/master/Group10_FAAsg7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GROUP 10 ASSIGNMENT 7 :THE DAY OF THE WEEK EFFECT**

**Suryadeep Mandal 19EE10060**

**Pagadala Tejaswi 19MT10027**

**Tanaya Ramane 19QE30002**

**Nilesh Sureshbhai Das 20CH30017**

**INTRODUCTION**

The Day of the week effect refers to the tendency of the stock to give relatively large returns on a particular day of the week as compared to other days of the week. We analyse five stock indices - NIFTY 50, NIFTY NEXT 50, NIFTY MIDCAP 100, NIFTY SMALLCAP 100, NIFTY BANK to check if such an effect exists in either of these indices. We take weekly data of the above indices and perform Linear Regression and Volatility analyses using dummy varibales for different weekdays to find any relation between returns and day of the week.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from arch import arch_model

In [ ]:
data=pd.read_csv("NiftyData.csv")
data.head()

,DATE,DAY,NIFTY 50,NIFTY NEXT 50,NIFTY MIDCAP 100,NIFTY SMLCAP 100,NIFTY BANK,Returns_NIFTY50,Returns_NEXT50,Returns_MIDCAP,Returns_SMLCAP,Returns_Bank
0,01-Mar-21,Monday,14761.55,34552.05,23684.80,8216.55,35296.00,NaN,NaN,NaN,NaN,NaN
1,02-Mar-21,Tuesday,14919.10,35151.35,24086.65,8318.25,35419.70,1.061644,1.719614,1.682425,1.230148,0.349852
2,03-Mar-21,Wednesday,15245.60,35712.75,24488.45,8400.75,36368.05,2.164867,1.584474,1.654383,0.986909,2.642248
3,04-Mar-21,Thursday,15080.75,35777.45,24608.35,8499.35,35802.50,-1.087184,0.181004,0.488424,1.166870,-1.567292
4,05-Mar-21,Friday,14938.10,35258.45,24078.15,8367.85,35228.15,-0.950410,-1.461259,-2.178103,-1.559271,-1.617224

Here, Returns are calculated as Rt=100*(ln(Pt)-ln(Pt-1)) in Excel.

---

In [ ]:
data.tail()

,DATE,DAY,NIFTY 50,NIFTY NEXT 50,NIFTY MIDCAP 100,NIFTY SMLCAP 100,NIFTY BANK,Returns_NIFTY50,Returns_NEXT50,Returns_MIDCAP,Returns_SMLCAP,Returns_Bank
243,22-Feb-22,Tuesday,17092.20,40096.95,28284.90,9842.55,37371.65,-0.667372,-0.200562,-1.023036,-2.072845,-0.836566
244,23-Feb-22,Wednesday,17063.25,40434.20,28467.00,9956.85,37392.05,-0.169519,0.837569,0.641743,1.154593,0.054572
245,24-Feb-22,Thursday,16247.95,38165.20,26832.65,9334.80,35228.10,-4.896028,-5.775186,-5.912609,-6.451140,-5.961406
246,25-Feb-22,Friday,16658.40,39609.40,27953.30,9786.65,36430.75,2.494785,3.714236,4.091583,4.726986,3.356914
247,28-Feb-22,Monday,16793.90,40052.10,28223.45,9844.65,36205.30,0.810113,1.111464,0.961793,0.590895,-0.620768

We drop the first row of data as  value of returns are not present.

> Indented block

In [ ]:
data=data.dropna()
data.head()

,DATE,DAY,NIFTY 50,NIFTY NEXT 50,NIFTY MIDCAP 100,NIFTY SMLCAP 100,NIFTY BANK,Returns_NIFTY50,Returns_NEXT50,Returns_MIDCAP,Returns_SMLCAP,Returns_Bank
1,02-Mar-21,Tuesday,14919.10,35151.35,24086.65,8318.25,35419.70,1.061644,1.719614,1.682425,1.230148,0.349852
2,03-Mar-21,Wednesday,15245.60,35712.75,24488.45,8400.75,36368.05,2.164867,1.584474,1.654383,0.986909,2.642248
3,04-Mar-21,Thursday,15080.75,35777.45,24608.35,8499.35,35802.50,-1.087184,0.181004,0.488424,1.166870,-1.567292
4,05-Mar-21,Friday,14938.10,35258.45,24078.15,8367.85,35228.15,-0.950410,-1.461259,-2.178103,-1.559271,-1.617224
5,08-Mar-21,Monday,14956.20,35199.25,24149.30,8405.90,35275.75,0.121093,-0.168044,0.295060,0.453686,0.135028



```
# This is formatted as code
```

**Descriptive Statistics**

In [ ]:
data.describe()

,NIFTY 50,NIFTY NEXT 50,NIFTY MIDCAP 100,NIFTY SMLCAP 100,NIFTY BANK,Returns_NIFTY50,Returns_NEXT50,Returns_MIDCAP,Returns_SMLCAP,Returns_Bank
count,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000
mean,16497.884413,39869.419231,28139.593927,10128.746154,36045.378340,0.052223,0.059803,0.070980,0.073189,0.010298
std,1209.948805,3096.635650,2696.144132,1067.489756,2080.220626,0.998103,1.116185,1.286428,1.369594,1.376390
min,14296.400000,33554.200000,22858.550000,7891.350000,30792.000000,-4.896028,-5.775186,-5.912609,-6.451140,-5.961406
25%,15633.725000,38328.025000,26429.425000,9387.575000,34807.250000,-0.467473,-0.435537,-0.460526,-0.522105,-0.698663
50%,16705.200000,40096.950000,28250.400000,10429.650000,35834.750000,0.090719,0.247913,0.285846,0.409938,-0.014705
75%,17534.150000,42557.725000,30419.200000,10969.675000,37687.500000,0.743287,0.750529,0.921078,0.924290,0.756904
max,18477.050000,44708.100000,32884.800000,11980.750000,41238.300000,2.981044,3.714236,4.091583,4.726986,3.930793

We have taken one year data of the five indices and will perform our further calculations on this. All the indices have small standard deviation in comparison to their mean, indicating some amount of stability in the past year. Average returns are positive with highest in NIFTY SMALLCAP 100, and lowest in NIFTY Bank. The high standard deviation in the returns show the variations in returns on any particular day.

**Adding Dummy Variables**

We add dummy variables for each of the five Weekdays, so as to generate linear regression models for the stock indices and check for day-of-the-week-effect for different weekdays.

In [ ]:
day_dummies=pd.get_dummies(data["DAY"])
day_dummies.head(8)

   Friday  Monday  Thursday  Tuesday  Wednesday
1       0       0         0        1          0
2       0       0         0        0          1
3       0       0         1        0          0
4       1       0         0        0          0
5       0       1         0        0          0
6       0       0         0        1          0
7       0       0         0        0          1
8       1       0         0        0          0

In [ ]:
data=pd.merge(left=data,right=day_dummies,left_index=True,right_index=True)
data.drop(["DAY"],axis=1,inplace=True)
data.head()

,DATE,NIFTY 50,NIFTY NEXT 50,NIFTY MIDCAP 100,NIFTY SMLCAP 100,NIFTY BANK,Returns_NIFTY50,Returns_NEXT50,Returns_MIDCAP,Returns_SMLCAP,Returns_Bank,Friday,Monday,Thursday,Tuesday,Wednesday
1,02-Mar-21,14919.10,35151.35,24086.65,8318.25,35419.70,1.061644,1.719614,1.682425,1.230148,0.349852,0,0,0,1,0
2,03-Mar-21,15245.60,35712.75,24488.45,8400.75,36368.05,2.164867,1.584474,1.654383,0.986909,2.642248,0,0,0,0,1
3,04-Mar-21,15080.75,35777.45,24608.35,8499.35,35802.50,-1.087184,0.181004,0.488424,1.166870,-1.567292,0,0,1,0,0
4,05-Mar-21,14938.10,35258.45,24078.15,8367.85,35228.15,-0.950410,-1.461259,-2.178103,-1.559271,-1.617224,1,0,0,0,0
5,08-Mar-21,14956.20,35199.25,24149.30,8405.90,35275.75,0.121093,-0.168044,0.295060,0.453686,0.135028,0,1,0,0,0



> Indented block



**LINEAR REGRESSION ON THE RETURNS**

Now, we perform Linear regression, considering the weekdays' dummy variables as Independent variables and the Returns of a particular index as the dependent variable. This will give us an idea of the dependence of returns on weekdays from the coefficients and their significance in linear regression.

In [ ]:
X=data[["Monday","Tuesday","Wednesday","Thursday","Friday"]]

**1. NIFTY 50 RETURNS**

In [ ]:
Y_NIFTY50=data.loc[:,["Returns_NIFTY50"]]
MDL_NIFTY50=sm.OLS(Y_NIFTY50,X).fit()
print(MDL_NIFTY50.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Returns_NIFTY50   R-squared:                       0.030
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     1.854
Date:                Thu, 10 Mar 2022   Prob (F-statistic):              0.119
Time:                        17:31:09   Log-Likelihood:                -345.78
No. Observations:                 247   AIC:                             701.6
Df Residuals:                     242   BIC:                             719.1
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Monday        -0.1075      0.139     -0.774      0.440      -0.381       0.166
Tuesday        0.3687      0.137      2.682      0.008       0.098       0.639
Wednesday      0.0581      0.143      0.406      0.685      -0.224       0.340
Thursday      -0.0446      0.140     -0.318      0.751      -0.321       0.232
Friday        -0.0294      0.146     -0.201      0.841      -0.317       0.259
==============================================================================
Omnibus:                       42.006   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               96.108
Skew:                          -0.805   Prob(JB):                     1.35e-21
Kurtosis:                       5.597   Cond. No.                         1.06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

*The* p-value of Tuesday is 0.008, and it has a positive coefficient in the regression, thus it has some positive effect on the returns.

**2. NIFTY NEXT 50 RETURNS**

In [ ]:
Y_NEXT50=data.loc[:,["Returns_NEXT50"]]
MDL_NEXT50=sm.OLS(Y_NEXT50,X).fit()
print(MDL_NEXT50.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Returns_NEXT50   R-squared:                       0.033
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     2.075
Date:                Thu, 10 Mar 2022   Prob (F-statistic):             0.0847
Time:                        17:31:09   Log-Likelihood:                -372.96
No. Observations:                 247   AIC:                             755.9
Df Residuals:                     242   BIC:                             773.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Monday        -0.2000      0.155     -1.291      0.198      -0.505       0.105
Tuesday        0.3732      0.153      2.432      0.016       0.071       0.675
Wednesday      0.1854      0.160      1.161      0.247      -0.129       0.500
Thursday      -0.0369      0.156     -0.236      0.814      -0.345       0.271
Friday        -0.0323      0.163     -0.198      0.843      -0.354       0.289
==============================================================================
Omnibus:                       70.685   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              231.238
Skew:                          -1.192   Prob(JB):                     6.13e-51
Kurtosis:                       7.097   Cond. No.                         1.06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Here also, the p-value of Tuesday is 0.016, indicating statistical significance similar to the previous case.

**3. NIFTY MIDCAP 100 RETURNS**

In [ ]:
Y_MIDCAP=data.loc[:,["Returns_MIDCAP"]]
MDL_MIDCAP=sm.OLS(Y_MIDCAP,X).fit()
print(MDL_MIDCAP.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Returns_MIDCAP   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     1.917
Date:                Thu, 10 Mar 2022   Prob (F-statistic):              0.108
Time:                        17:31:09   Log-Likelihood:                -408.34
No. Observations:                 247   AIC:                             826.7
Df Residuals:                     242   BIC:                             844.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Monday        -0.2299      0.179     -1.286      0.200      -0.582       0.122
Tuesday        0.4158      0.177      2.348      0.020       0.067       0.765
Wednesday      0.2029      0.184      1.101      0.272      -0.160       0.566
Thursday      -0.0032      0.181     -0.018      0.986      -0.359       0.353
Friday        -0.0423      0.188     -0.225      0.823      -0.413       0.329
==============================================================================
Omnibus:                       62.634   Durbin-Watson:                   1.899
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              163.110
Skew:                          -1.137   Prob(JB):                     3.81e-36
Kurtosis:                       6.268   Cond. No.                         1.06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Tuesday has a p-value of 0.02 indicating statistical significance, and a positive coefficient indicating positive effect on returns.

**4. NIFTY SMLCAP 100 RETURNS**

In [ ]:
Y_SMLCAP=data.loc[:,["Returns_SMLCAP"]]
MDL_SMLCAP=sm.OLS(Y_SMLCAP,X).fit()
print(MDL_SMLCAP.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Returns_SMLCAP   R-squared:                       0.030
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     1.884
Date:                Thu, 10 Mar 2022   Prob (F-statistic):              0.114
Time:                        17:31:09   Log-Likelihood:                -423.87
No. Observations:                 247   AIC:                             857.7
Df Residuals:                     242   BIC:                             875.3
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Monday        -0.3538      0.190     -1.858      0.064      -0.729       0.021
Tuesday        0.3383      0.189      1.794      0.074      -0.033       0.710
Wednesday      0.1925      0.196      0.981      0.328      -0.194       0.579
Thursday       0.1454      0.192      0.756      0.450      -0.233       0.524
Friday         0.0439      0.200      0.219      0.827      -0.351       0.439
==============================================================================
Omnibus:                       65.913   Durbin-Watson:                   1.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              176.510
Skew:                          -1.186   Prob(JB):                     4.69e-39
Kurtosis:                       6.394   Cond. No.                         1.06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Here, no regression coefficient is significant at the 5% level. p-value of Tuesday is significant at the 10% level.

***5. NIFTY BANK RETURNS***

In [ ]:
Y_BANK=data.loc[:,["Returns_Bank"]]
MDL_BANK=sm.OLS(Y_BANK,X).fit()
print(MDL_BANK.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Returns_Bank   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     1.287
Date:                Thu, 10 Mar 2022   Prob (F-statistic):              0.276
Time:                        17:31:09   Log-Likelihood:                -426.28
No. Observations:                 247   AIC:                             862.6
Df Residuals:                     242   BIC:                             880.1
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Monday        -0.1744      0.192     -0.907      0.365      -0.553       0.204
Tuesday        0.3402      0.190      1.787      0.075      -0.035       0.715
Wednesday      0.1113      0.198      0.562      0.575      -0.279       0.502
Thursday      -0.0808      0.194     -0.416      0.678      -0.463       0.302
Friday        -0.1643      0.202     -0.811      0.418      -0.563       0.235
==============================================================================
Omnibus:                       22.252   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.722
Skew:                          -0.388   Prob(JB):                     2.16e-12
Kurtosis:                       5.149   Cond. No.                         1.06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Here also, no coefficient is significant at the 5% level. Tuesday is significant at the 10% level.

For NIFTY50, NIFTY NEXT50, NIFTY MIDCAP 100, we found that returns on Tuesday are generally positive, and statistically significant.

**GARCH MODELS FOR VOLATILITY TESTING**

GARCH stands for "Generalized AutoRegressive Conditional Heteroskedascity". GARCH is a statistical modeling technique used to help predict the volatility of returns on financial assets. GARCH is appropriate for time series data where the variance of the error term is serially autocorrelated following an autoregressive moving average process. Here, we perform GARCH modelling to test for volatility of returns of various indices in the stock market.

**1.NIFTY 50 Returns**

In [ ]:
NIFTY50_GARCH = arch_model(Y_NIFTY50, mean = "Constant" , vol = "GARCH", p = 1, q = 1)
NIFTY50_RESULTS = NIFTY50_GARCH.fit()
NIFTY50_RESULTS.summary()

Iteration:      1,   Func. Count:      6,   Neg. LLF: 331.2967591760255
Iteration:      2,   Func. Count:     17,   Neg. LLF: 331.0691539850028
Iteration:      3,   Func. Count:     26,   Neg. LLF: 330.8637720062927
Iteration:      4,   Func. Count:     33,   Neg. LLF: 330.6816415227651
Iteration:      5,   Func. Count:     40,   Neg. LLF: 330.2744331602378
Iteration:      6,   Func. Count:     47,   Neg. LLF: 330.0752824583763
Iteration:      7,   Func. Count:     53,   Neg. LLF: 329.97383334352526
Iteration:      8,   Func. Count:     59,   Neg. LLF: 329.96402295849805
Iteration:      9,   Func. Count:     65,   Neg. LLF: 329.95774954082754
Iteration:     10,   Func. Count:     71,   Neg. LLF: 329.95771580875555
Iteration:     11,   Func. Count:     77,   Neg. LLF: 329.95771266924356
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 329.9577127802438
            Iterations: 11
            Function evaluations: 77
            Gradient evaluations: 11

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:        Returns_NIFTY50   R-squared:                       0.000
Mean Model:             Constant Mean   Adj. R-squared:                  0.000
Vol Model:                      GARCH   Log-Likelihood:               -329.958
Distribution:                  Normal   AIC:                           667.915
Method:            Maximum Likelihood   BIC:                           681.953
                                        No. Observations:                  247
Date:                Thu, Mar 10 2022   Df Residuals:                      246
Time:                        17:31:09   Df Model:                            1
                                Mean Model
==========================================================================
                 coef    std err          t      P>|t|    95.0% Conf. Int.
--------------------------------------------------------------------------
mu             0.1045  4.907e-02      2.131  3.313e-02 [8.369e-03,  0.201]
                               Volatility Model
=============================================================================
                 coef    std err          t      P>|t|       95.0% Conf. Int.
-----------------------------------------------------------------------------
omega          0.0102  1.141e-02      0.891      0.373 [-1.220e-02,3.253e-02]
alpha[1]       0.0976  2.684e-02      3.638  2.753e-04    [4.502e-02,  0.150]
beta[1]        0.9024  1.780e-02     50.685      0.000      [  0.867,  0.937]
=============================================================================

Covariance estimator: robust
"""

The value of both alpha (coefficient of lagged squared residuals) , beta (coefficient of lagged variance) are both significant. Alpha indicates the volatility's spikiness while beta indicates the volatilty's persistence.

**2. NIFTY NEXT 50 Returns**

In [ ]:
NEXT50_GARCH = arch_model(Y_NEXT50, mean = "Constant" , vol = "GARCH", p = 1, q = 1)
NEXT50_RESULTS = NEXT50_GARCH.fit()
NEXT50_RESULTS.summary()

Iteration:      1,   Func. Count:      6,   Neg. LLF: 363.3485247425507
Iteration:      2,   Func. Count:     14,   Neg. LLF: 363.11674691125626
Iteration:      3,   Func. Count:     24,   Neg. LLF: 363.1118892419639
Iteration:      4,   Func. Count:     32,   Neg. LLF: 362.87565929144654
Iteration:      5,   Func. Count:     38,   Neg. LLF: 361.63954979861103
Iteration:      6,   Func. Count:     45,   Neg. LLF: 361.6289340252674
Iteration:      7,   Func. Count:     52,   Neg. LLF: 361.61711276772684
Iteration:      8,   Func. Count:     58,   Neg. LLF: 361.6169582176085
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 361.61695788798136
            Iterations: 8
            Function evaluations: 59
            Gradient evaluations: 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:         Returns_NEXT50   R-squared:                       0.000
Mean Model:             Constant Mean   Adj. R-squared:                  0.000
Vol Model:                      GARCH   Log-Likelihood:               -361.617
Distribution:                  Normal   AIC:                           731.234
Method:            Maximum Likelihood   BIC:                           745.271
                                        No. Observations:                  247
Date:                Thu, Mar 10 2022   Df Residuals:                      246
Time:                        17:31:10   Df Model:                            1
                                 Mean Model
===========================================================================
                 coef    std err          t      P>|t|     95.0% Conf. Int.
---------------------------------------------------------------------------
mu             0.0803  5.916e-02      1.358      0.175 [-3.562e-02,  0.196]
                               Volatility Model
=============================================================================
                 coef    std err          t      P>|t|       95.0% Conf. Int.
-----------------------------------------------------------------------------
omega          0.0105  1.698e-02      0.616      0.538 [-2.282e-02,4.375e-02]
alpha[1]       0.0705  2.204e-02      3.197  1.390e-03    [2.726e-02,  0.114]
beta[1]        0.9295  2.143e-02     43.375      0.000      [  0.888,  0.972]
=============================================================================

Covariance estimator: robust
"""

**3. NIFTY MIDCAP 100 Returns**

In [ ]:
MIDCAP_GARCH = arch_model(Y_MIDCAP, mean = "Constant" , vol = "GARCH", p = 1, q = 1)
MIDCAP_RESULTS = MIDCAP_GARCH.fit()
MIDCAP_RESULTS.summary()

Iteration:      1,   Func. Count:      6,   Neg. LLF: 401.9814252437088
Iteration:      2,   Func. Count:     17,   Neg. LLF: 401.9614717493051
Iteration:      3,   Func. Count:     25,   Neg. LLF: 401.65653539957157
Iteration:      4,   Func. Count:     33,   Neg. LLF: 401.4592880916981
Iteration:      5,   Func. Count:     39,   Neg. LLF: 400.87657984855844
Iteration:      6,   Func. Count:     47,   Neg. LLF: 400.8748628796623
Iteration:      7,   Func. Count:     53,   Neg. LLF: 400.8418610948395
Iteration:      8,   Func. Count:     59,   Neg. LLF: 400.82658083501303
Iteration:      9,   Func. Count:     65,   Neg. LLF: 400.8263047162251
Iteration:     10,   Func. Count:     71,   Neg. LLF: 400.8263028297032
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 400.82630293875036
            Iterations: 10
            Function evaluations: 71
            Gradient evaluations: 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:         Returns_MIDCAP   R-squared:                       0.000
Mean Model:             Constant Mean   Adj. R-squared:                  0.000
Vol Model:                      GARCH   Log-Likelihood:               -400.826
Distribution:                  Normal   AIC:                           809.653
Method:            Maximum Likelihood   BIC:                           823.690
                                        No. Observations:                  247
Date:                Thu, Mar 10 2022   Df Residuals:                      246
Time:                        17:31:10   Df Model:                            1
                                 Mean Model
===========================================================================
                 coef    std err          t      P>|t|     95.0% Conf. Int.
---------------------------------------------------------------------------
mu             0.0929  6.927e-02      1.341      0.180 [-4.287e-02,  0.229]
                               Volatility Model
=============================================================================
                 coef    std err          t      P>|t|       95.0% Conf. Int.
-----------------------------------------------------------------------------
omega          0.0165  2.484e-02      0.663      0.507 [-3.222e-02,6.517e-02]
alpha[1]       0.0781  3.009e-02      2.594  9.495e-03    [1.907e-02,  0.137]
beta[1]        0.9219  2.387e-02     38.630      0.000      [  0.875,  0.969]
=============================================================================

Covariance estimator: robust
"""

**4. NIFTY SMLCAP 100 Returns**

In [ ]:
SMLCAP_GARCH = arch_model(Y_SMLCAP, mean = "Constant" , vol = "GARCH", p = 1, q = 1)
SMLCAP_RESULTS = SMLCAP_GARCH.fit()
SMLCAP_RESULTS.summary()

Iteration:      1,   Func. Count:      6,   Neg. LLF: 409.91157971723806
Iteration:      2,   Func. Count:     15,   Neg. LLF: 409.5682274383253
Iteration:      3,   Func. Count:     23,   Neg. LLF: 409.2139320475685
Iteration:      4,   Func. Count:     30,   Neg. LLF: 408.7978776253278
Iteration:      5,   Func. Count:     36,   Neg. LLF: 408.56236132519075
Iteration:      6,   Func. Count:     43,   Neg. LLF: 408.4689387495914
Iteration:      7,   Func. Count:     50,   Neg. LLF: 408.2911346144114
Iteration:      8,   Func. Count:     56,   Neg. LLF: 408.23787357634546
Iteration:      9,   Func. Count:     62,   Neg. LLF: 408.2346131440147
Iteration:     10,   Func. Count:     68,   Neg. LLF: 408.2344365430823
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 408.23443654283403
            Iterations: 10
            Function evaluations: 68
            Gradient evaluations: 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:         Returns_SMLCAP   R-squared:                       0.000
Mean Model:             Constant Mean   Adj. R-squared:                  0.000
Vol Model:                      GARCH   Log-Likelihood:               -408.234
Distribution:                  Normal   AIC:                           824.469
Method:            Maximum Likelihood   BIC:                           838.506
                                        No. Observations:                  247
Date:                Thu, Mar 10 2022   Df Residuals:                      246
Time:                        17:31:10   Df Model:                            1
                                 Mean Model
===========================================================================
                 coef    std err          t      P>|t|     95.0% Conf. Int.
---------------------------------------------------------------------------
mu             0.1542  8.555e-02      1.802  7.147e-02 [-1.347e-02,  0.322]
                              Volatility Model
===========================================================================
                 coef    std err          t      P>|t|     95.0% Conf. Int.
---------------------------------------------------------------------------
omega          0.1701      0.123      1.378      0.168 [-7.190e-02,  0.412]
alpha[1]       0.3040      0.122      2.502  1.236e-02  [6.582e-02,  0.542]
beta[1]        0.6617      0.132      4.999  5.754e-07    [  0.402,  0.921]
===========================================================================

Covariance estimator: robust
"""

**5. NIFTY BANK Returns**

In [ ]:
BANK_GARCH = arch_model(Y_BANK, mean = "Constant" , vol = "GARCH", p = 1, q = 1)
BANK_RESULTS = BANK_GARCH.fit()
BANK_RESULTS.summary()

Iteration:      1,   Func. Count:      6,   Neg. LLF: 420.9006262644956
Iteration:      2,   Func. Count:     17,   Neg. LLF: 420.8385792243406
Iteration:      3,   Func. Count:     25,   Neg. LLF: 420.6202205461917
Iteration:      4,   Func. Count:     33,   Neg. LLF: 420.5613478198668
Iteration:      5,   Func. Count:     42,   Neg. LLF: 420.56128316520557
Iteration:      6,   Func. Count:     48,   Neg. LLF: 420.55295192264316
Iteration:      7,   Func. Count:     54,   Neg. LLF: 420.55277766548534
Iteration:      8,   Func. Count:     60,   Neg. LLF: 420.5527764115883
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 420.55277641065436
            Iterations: 8
            Function evaluations: 60
            Gradient evaluations: 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:           Returns_Bank   R-squared:                       0.000
Mean Model:             Constant Mean   Adj. R-squared:                  0.000
Vol Model:                      GARCH   Log-Likelihood:               -420.553
Distribution:                  Normal   AIC:                           849.106
Method:            Maximum Likelihood   BIC:                           863.143
                                        No. Observations:                  247
Date:                Thu, Mar 10 2022   Df Residuals:                      246
Time:                        17:31:10   Df Model:                            1
                               Mean Model
========================================================================
                 coef    std err          t      P>|t|  95.0% Conf. Int.
------------------------------------------------------------------------
mu             0.0474  7.791e-02      0.608      0.543 [ -0.105,  0.200]
                              Volatility Model
===========================================================================
                 coef    std err          t      P>|t|     95.0% Conf. Int.
---------------------------------------------------------------------------
omega          0.0467  3.658e-02      1.277      0.202 [-2.499e-02,  0.118]
alpha[1]       0.0676  3.202e-02      2.111  3.480e-02  [4.827e-03,  0.130]
beta[1]        0.9126  2.415e-02     37.791      0.000    [  0.865,  0.960]
===========================================================================

Covariance estimator: robust
"""

In all the cases, the coefficients of the GARCH(1,1) model are significant. When there is a small value of alpha (NIFTY 50, NEXT 50, MIDCAP, BANKS), and a high value of beta, it indicates that there is persistence of volatility in the indices. In case of NIFTY SMALLCAP 100, we can observe that there value of alpha is more than the other 4 indices, which shows that it is more volatile and unstable than the other four indices.

**CONCLUSION**

GARCH models allow us to look for heteroskedascity in the data. We could see in the above models that volatility is persistent and clustering. We can see that the true parameters all fall within the respective confidence intervals.